h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Crimson Text', serif;
}

p {
    font-family: 'Work Sans', sans-serif;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #74c69d;
    max-width: 1280px;
    margin: auto;
    padding-left: 60px;
    padding-right: 60px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo img {
    width: 200px;
    margin-right: 10px;
}

.footer {
    background-color: #74c69d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    color: white;
    font-size: 14px;
}

.footer .social-icons {
    display: flex;
    gap: 15px;
    padding-left: 20px;
    padding-right: 20px
}

.footer .copyright {
    text-align: right;
    padding-left: 20px;
    padding-right: 20px
}

@media screen and (max-width: 768px) {

    .menu {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .logos {
        flex-direction: column;
        gap: 20px;
    }


    .footer {
        background-color: #74c69d;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        color: white;
        font-family: 'Work Sans', sans-serif;
        font-size: 14px;
    }

    .footer .social-icons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-bottom: 10px;
    }

    .footer .social-icons img {
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .footer .social-icons img:hover {
        transform: scale(1.2);
    }

    .footer .copyright {
        font-size: 14px;
        color: white;
        opacity: 0.8;
        margin-top: 10px;
    }
}