.contactbanner {
    background-image: url("../img/contact.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 340px;
}

.container {
    background-color: #F5F5DC;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F5F5DC;
    padding-bottom: 150px;
}

.contactdetails h3 {
    color: #1e1e1e;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 50px;
}

.line-under-title {
    background-color: #1e1e1e;
    margin: 20px auto 20px;
}

.contactdetails h5 {
    color: #1e1e1e;
    margin-top: 15px;
    text-align: center;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

.getintouch,
.yourdetails {
    width: 40%;
}

.getintouch p {
    padding-top: 30px;
    padding-bottom: 30px;
}

.getintouch .contact+.contact {
    margin-top: 16px;
}

.getintouch a {
    color: black;
    text-decoration: none;
}

.getintouch a:hover {
    text-decoration: underline;
}

.contact {
    display: flex;
    align-items: center;
    gap: 20px;
}

.yourdetails form {
    padding-top: 30px;
    padding-bottom: 30px;

}

.yourdetails form div {
    display: flex;
    flex-direction: column;
}

.yourdetails form input {
    padding: 15px;
    width: 100%;
    background-color: #D9D9D9;
    border: none;
    color: rgba(30, 30, 30, 0.6);
}

.form-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.form-group {
    flex: 1;
    min-width: 250px;
}

.form-group label,
.form-group input {
    display: block;
    width: 100%;
    text-align: left;
    max-width: 300px;
}

label {
    min-height: 35px;
}

.yourdetails form textarea {
    padding: 15px;
    width: 100%;
    background-color: #D9D9D9;
    border: none;
    color: #1e1e1e;
    color: rgba(30, 30, 30, 0.6);
    max-width: 300px;
}





.rating {
    display: flex;
    flex-direction: row-reverse;
    width: 150px;
    border: none;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating>.half:before {
    content: "\f089";
    position: absolute;
}

.rating>label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating>input:checked~label,
/* show gold star when clicked */
.rating:not(:checked)>label:hover,
/* hover current star */
.rating:not(:checked)>label:hover~label {
    color: #FFD700;
}

/* hover previous stars in list */

.rating>input:checked~label,
.rating>label:hover,
.rating>label:hover~label {
    color: #FFD700;
}

.button {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
}



@media(max-width:1000px) {
    .banner {
        flex-direction: column;
        justify-items: center;
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    .contact {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .yourdetails {
        width: 100%;
    }


    .getintouch {
        width: 100%;
    }

    .yourdetails form {
        width: 100%;
        align-items: center;
    }

    .rating {
        justify-content: center;
    }

    .comments {
        justify-content: center;
        text-align: center;
    }

    .button {
        justify-content: center;
    }

    .form-row {
        flex-direction: column;
        align-items: center;
    }

    .form-group {
        justify-content: center;
        align-items: center;

    }

    .form-group label,
    .form-group input {
        text-align: center;
    }

    .form-group label .rating {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .button {
        display: flex;
        justify-content: center;
    }
}