@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;

}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Noto Serif', serif;
    font-size: 72px;
    font-weight: bold;
    color: #F5F5DC;
}

h2 {
    font-family: 'Noto Serif', serif;
    font-size: 64px;
    font-weight: bold;
    color: #EBC603
}

h3 {
    font-family: 'Noto Serif', serif;
    font-size: 36px;
    font-weight: 700;
}

h4 {
    font-family: 'Noto Serif', serif;
    font-size: 24px;
    font-weight: bold;
}

h5 {
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    font-weight: 700;
}

h6 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.navbar {
    position: static;
    top: 0;
    background-color: #EBC603;
    z-index: 10;
}

.nav-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
}

.menu-toggle {
    cursor: pointer;
    display: none;
    z-index: 1001;
    font-size: 40px;
}


.menu {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 0 10px;
    gap: 30px;
    max-width: 100%;
    overflow-x: hidden;
}

.menu a {
    color: black;
    text-decoration: none;
    transition: font-weight 0.2s ease;
}

.menu a:hover {
    font-weight: 800;
}

.submenu {
    display: none;
    position: absolute;
    width: max-content;
    max-width: 90vw;
    z-index: 1;
    background-color: #EBC603;
    border-radius: 8px;
    padding: 30px 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    box-sizing: border-box;
}

.submenu a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-item:hover .submenu {
    display: block;
}

.menu-item a i {
    margin-left: 8px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.button-fill {
    background-color: #B22222;
    color: #F5F5DC;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 35px;
    transition: 0.3s ease;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    outline: none;
    box-shadow: none;
    opacity: 1;
}

.button-fill:hover {
    opacity: 0.5;
    cursor: pointer;
}

.button-outline {
    background-color: transparent;
    color: #B22222;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #B22222;
    border-radius: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease;
    margin-top: 10px;
    display: inline-block;
}

.button-outline:hover {
    background-color: #B22222;
    color: #F5F5DC;
    border: 1px solid #B22222;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.line-under-title {
    width: 200px;
    height: 2px;
    margin-top: 20px;
}

.footer {
    background-color: #EBC603;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

.footer .logo {
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.footermenu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    margin-top: 30px;
}

.footermenu a {
    color: black;
    text-decoration: none;
    transition: font-weight 0.2s ease;
}

.footermenu a:hover {
    color: black;
    text-decoration: none;
    font-weight: 800;
}

.footer-menu-section {
    flex: none;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.footer-submenu {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-self: center;
}

.footer-submenu li {
    margin: 0;
    padding: 0;
}

.footer-submenu a {
    text-decoration: none;
    color: #1E1E1E;
    font-size: 16px;

}

.footer .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.footer .copyright {
    margin-top: 40px;
    font-size: 14px;
    color: #1E1E1E;
}

.operationtime {
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7),
        1px 1px 4px rgba(0, 0, 0, 0.8),
        2px 2px 6px rgba(0, 0, 0, 1);
}

@media(max-width:1000px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 36px;
    }

    h4 {}

    h5 {
        font-size: 24px;
    }

    h6 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    .nav-container {
        flex-direction: column;
        gap: 30px;
        padding: 30px;
    }

    .footer .menu {
        gap: 40px;
    }

    .footer .social-icons {
        align-items: center;
        gap: 30px;
    }
}

@media (max-width: 768px) {

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 36px;
    }

    h4 {}

    h5 {
        font-size: 24px;
    }

    h6 {
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }

    .nav-container {
        flex-direction: row;
        gap: 40px;
        padding: 20px;
    }

    .menu-toggle {
        display: block;

    }


    .menu {
        flex-direction: column;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #EBC603;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        position: fixed;
        gap: 100px;
    }

    .menu.active {
        display: flex;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .footermenu {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }



    .footer-menu-section {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-submenu {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-submenu a {
        font-size: 16px;

    }

    .footer .social-icons {
        align-items: center;
        gap: 20px;
    }


}