.homepagebanner {
    background-image: url("../img/alottypesfoos.png");
    background-size: cover;
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-text {
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
    max-width: 1280px;
}

.banner-text h1 {
    color: #F5F5DC;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6), 2px 2px 8px rgba(0, 0, 0, 0.7), 4px 4px 12px rgba(0, 0, 0, 0.9);
}

.banner-text h5 {
    color: #F5F5DC;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6), 2px 2px 8px rgba(0, 0, 0, 0.7), 4px 4px 12px rgba(0, 0, 0, 0.9);
    z-index: 2;
    margin-top: 15px;
}

.intro-section {
    width: 100%;
    box-sizing: border-box;
    background-color: #1e1e1e;
    text-align: center;
    padding: 80px 20px;
}

.intro-section h5 {
    color: #F5F5DC;
    margin-bottom: 10px;
}

.intro-section h2 {
    color: #EBC603;
    margin-bottom: 20px;
}

.line-under-title {
    background-color: #EBC603;
    margin: 20px auto 20px;
}

.intro-section p {
    color: #F5F5DC;
    margin: 50px auto 20px;
    line-height: 1.6;
    padding-left: 120px;
    padding-right: 120px;
    max-width: 1200px;
}

.intro-section strong {
    color: #F5F5DC;
}

.intro-dish {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #F5F5DC;
    flex-direction: column;
}

.intro-dish .text {
    text-align: center;
    margin-bottom: 30px;
    flex: 1;
    padding: 20px;
}

.intro-dish .text .line-under-title {
    background-color: #1e1e1e;
    margin: 20px auto 20px;
}

.intro-dish .text h3 {
    margin-bottom: 10px;
    text-align: center;
}

.intro-dish .text p {
    text-align: center;
    margin-top: 50px;
    padding-left: 120px;
    padding-right: 120px;
    line-height: 1.6;
    max-width: 1200px;
}

.intro-dish .dish {
    display: flex;
    justify-content: center;
    flex: 2;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 60px;
}

.intro-dish .dish .dish1,
.intro-dish .dish .dish2,
.intro-dish .dish .dish3 {
    text-align: center;
    background-color: #1E1E1E;
    border-radius: 25px;
    padding: 80px 20px 30px;
    width: 180px;
    margin: 10px;
    padding-top: 60px;
    position: relative;
    z-index: 1;
    overflow: visible;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.intro-dish .dish img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.intro-dish .dish h5 {
    margin-top: 100px;
    color: #F5F5DC;
}

.intro-dish .dish p {
    margin: 10px 0;
    font-size: 14px;
    color: #F5F5DC;
}

.kuchingbanner {
    background-image: url("../img/kuching.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 400px;
}

.kuchingbanner .banner-text {
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.kuchingbanner .banner-text h3 {
    color: #EBC603;
    margin: 0;
}

.kuchingbanner .banner-text p {
    color: #F5F5DC;
    margin-top: 50px;
    max-width: 800px;
}

.kuchingbanner .button-fill {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

@media(max-width:1000px) {
    .banner-text {
        padding: 0 30px;
    }
}

@media (max-width: 768px) {

    .intro-section p,
    .intro-dish .text p {
        padding-left: 20px;
        padding-right: 20px;
    }

    .dish {
        flex-direction: column;
        align-items: center;

    }

    .intro-dish .dish {
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }


}