.wrapper {
    background-color: #F5F5DC;
}

.container1 {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F5F5DC;
    padding-bottom: 50px;
}

.title h2 {
    color: #B22222;
    text-align: center;
    padding-top: 50px;
}

.title .line-under-title {
    background-color: #B22222;
    margin: 20px auto;
    align-items: center;
}

.intro {
    display: flex;
    gap: 200px;
    margin-top: 100px;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.intro-text p {
    padding-top: 20px;
}

.intro-text .line-under-title {
    background-color: #1e1e1e;
    margin: 20px 0;
    align-items: center;
}

.history-title {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
}

.history-title .line-under-title {
    background-color: #1e1e1e;
    margin: 20px auto;
}

.history {
    display: flex;
    flex-direction: row;
    padding: 0 100px;
    gap: 100px;

}

.history-image {
    display: flex;
    gap: 200px;
    align-items: center;
    justify-content: center;
}

.history-text {
    display: flex;
    flex-direction: column;
}

.history-text p {
    padding-top: 50px;
    max-width: 1050px;
    margin: 0 auto;
}

.recommendrestaurant {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-top: 100px;
}

.recommendrestaurant .line-under-title {
    background-color: #1e1e1e;
    margin: 20px auto;
    align-items: center;

}

.recommend-restaurant {
    background-image: url("../img/swklaksa3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 950px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    position: relative;
}

.operationtime {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #f5f5dc;
    display: flex;
    align-items: center;
    gap: 8px;
}

.operationtime h6 {
    margin: 0;
}

.about {
    background-color: #f5f5dc;
    padding: 0;
    max-width: 1280px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    position: relative;
}

.aboutpoh {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    position: relative;
}

.aboutpoh-image h6 {
    margin-bottom: 30px;
}

.aboutpoh-text {
    margin-top: 30px;
}

.aboutpoh-text p {
    padding-top: 20px;
}

.swklaksa5 {
    position: absolute;
    bottom: -200px;
    right: 0;
    align-self: flex-end;
}

.swklaksa5 img {
    width: 100%;
    height: auto;
}

.reviews-section {
    background-color: #f5f5dc;
    padding-top: 300px;
    text-align: center;
    margin: auto;
    padding-bottom: 100px;
}

.reviews-section h3 {
    color: #1e1e1e;
}

.reviews-section .line-under-title {
    background-color: #1e1e1e;
    margin: 20px auto;
}

.review-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.card {
    background-color: #D9D9D9;
    border-radius: 20px;
    width: 280px;
    padding: 30px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

.profile-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto 15px;
    font-weight: bold;
    font-size: 22px;
    color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;

}

.profile-photo img {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.reviewer-name {
    margin-bottom: 10px;
    margin-top: -60px;

}

.stars {
    margin-bottom: 15px;
}

.review-text {
    font-size: 14px;
    color: #333;
}

.recommend-restaurant2 {
    background-image: url("../img/choon1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 960px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    position: relative;
}

.choon {
    margin-top: 80px;
}

.choon-banner {
    background-color: #f5f5dc;
    padding: 0;
    max-width: 1280px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
}

.about-choon {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.about-choon-image h6 {
    margin-bottom: 30px;
}

.about-choon-image {
    position: relative;
}

.about-choon-image>div img {
    position: absolute;
    top: 55px;
    right: -100px;
}

.about-choon-text {
    margin-top: 30px;
    max-width: 40%;
    margin-left: 60px;
}

.about-choon-text p {
    padding-top: 20px;
}

.choonswklaksa {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 50px;
}

.choonswklaksa-image h6 {
    margin-bottom: 30px;
    text-align: right;
}

.choonswklaksa-image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.choonswklaksa-image-images {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    position: relative;
}

.choonswklaksa-image-images .choon5 {
    position: absolute;
    bottom: -100px;
    right: 100px;
    transform: translateX(-50%);
}

.choonswklaksa-image-images .choon6 {
    position: absolute;
    bottom: -300px;
    right: 300px;
    transform: translateX(-50%);
}

.choonswklaksa-text {
    max-width: 40%;
    margin-top: 30px;
}

.choonswklaksa-text p {
    padding-top: 20px;
}

.otherdish {
    text-align: center;
    background-color: #1e1e1e;
    padding-top: 50px;
    padding-bottom: 50px;
}

.otherdish p {
    color: #F5F5DC;
}



@media(max-width:1090px) {
    .intro {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        text-align: center;
        gap: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .intro-text {
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
        order: 2;
    }

    .intro-image {
        order: 1;
    }

    .intro-text .line-under-title {
        align-items: center;
        margin: 20px auto;
    }

    .history {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .history-title {
        order: 1;
        width: 100%;
        text-align: center;
    }

    .history-title h3 {
        text-align: center;
    }

    .history-title .line-under-title {
        align-items: center;
        margin: 20px auto;
    }

    .history-image {
        order: 2;
    }

    .history-text {
        order: 3;
    }

    .history-text p {
        padding-top: 50px;
    }

    .aboutpoh {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .aboutpoh-text {
        max-width: 70%;
        margin: 0 auto;
        text-align: center;
    }

    .swklaksa5 {
        position: relative;
        bottom: auto;
        right: auto;
        margin: 0 auto;
        align-self: center;
    }

    .reviews-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }


    .about-choon {
        flex-direction: column;
        justify-items: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .about-choon-text {
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .about-choon-image {
        position: relative;
    }

    .about-choon-image>div img {
        position: absolute;
        top: 55px;
        right: 0;
    }

    .choonswklaksa {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .choonswklaksa-text {
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
        order: 2;
    }

    .choonswklaksa-image {
        order: 1;
        align-items: center;

    }

    .choonswklaksa-image h6 {
        text-align: center;
    }

    .choonswklaksa-image-images {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .choonswklaksa-image-images .choon5,
    .choonswklaksa-image-images .choon6 {
        position: static;
        transform: none;
        width: 100%;
    }




}

@media(max-width:768px) {
    .intro-image img {
        width: 100%;
    }

    .history-image img {
        width: 100%;
    }

    .aboutpoh-image img {
        width: 100%;
    }

    .swklaksa5 img {
        width: 100%;
        align-self: center;
    }


    .about-choon-image img {
        width: 100%;
    }

    .about-choon-image>div img {
        width: 50%;
    }

    .choonswklaksa-image img {
        width: 100%;
    }
}