.container {
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F5F5DC;
    min-height: 2300px;
}

.banner {
    background-color: #F5F5DC;
    width: 100%;
}

.banner h3 {
    padding-top: 50px;
}

.banner .line-under-title {
    background-color: #1e1e1e;
    margin: 20px 0;
    align-items: left;
}

.banner-contents-first,
.banner-contents-second,
.banner-contents-third {
    display: flex;
    gap: 100px;
    margin-top: 40px;
    align-items: center;
}

.banner-contents-second {
    margin-left: 200px;
    margin-top: -120px;
}

.banner-contents-third {
    margin-left: 400px;
    margin-top: -80px;
}

.banner-text {
    width: 50%;
}


.howdifferent {
    background-color: #F5F5DC;
    width: 100%;
}

.howdifferent h3 {
    padding-top: 80px;
    text-align: center;
}

.howdifferent .line-under-title {
    background-color: #1e1e1e;
    margin: 20px auto;
    align-items: center;
}

.laksa,
.belacan {
    display: flex;
    gap: 100px;
    margin-top: 40px;
    align-items: center;
}

.belacan {
    margin-left: 100px;
}

.laksa {
    margin-left: 400px;
    margin-top: -80px;
}

.fusion,
.flavors {
    display: flex;
    gap: 100px;
    margin-top: 40px;
    align-items: center;
    flex-direction: row-reverse;
}

.fusion {
    margin-right: 100px;
}

.flavors {
    margin-right: 400px;
    margin-top: -80px;
}





.introduction {
    background-image: url("../img/introductionkolomee.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;

}

.introduction h3 {
    color: #EBC603;
}

.introduction .line-under-title {
    background-color: #EBC603;
    margin: 20px auto 20px;
    margin-bottom: 50px;
}

.introduction p {
    margin-top: 20px;
    color: #F5F5DC;
    padding-left: 70px;
    padding-right: 70px;

}

.container2 {
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F5F5DC;
    padding-bottom: 50px;
}

.history-banner {
    background-color: #f5f5dc;
    padding: 0 60px;
    max-width: 1280px;
    margin: 0 auto;
}

.history-banner h3 {
    text-align: center;
    margin-bottom: 10px;
    color: #1e1e1e;
    padding-top: 50px;
}

.line-under-title {
    background-color: #1e1e1e;
    margin: 20px auto 20px;
    margin-bottom: 50px;
}

.group {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 70px;
    margin-top: 70px;
    flex-wrap: nowrap;
}

.group.reverse {
    flex-direction: row-reverse;
}

.group img {
    border-radius: 16px;
    flex-shrink: 0;
}

.text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 30%;

}

.text h4 {
    margin-bottom: 20px;
}

.text p {
    margin-bottom: 10px;
}

.group .button .button-fill {
    margin-top: 10px;
    display: block;
    align-self: flex-start;
}

.group .button {
    margin-top: 10px;
    flex-shrink: 0;
    align-self: flex-start;
}

@media(max-width:1000px) {

    .banner-contents-first,
    .banner-contents-second,
    .banner-contents-third {
        flex-direction: column;
        justify-items: center;
        align-items: center;
        text-align: center;
        margin-top: 80px;
        gap: 30px;
    }

    .banner-contents-second {
        margin-left: 0;
    }

    .banner-contents-third {
        margin-left: 0;
    }


    @media (max-width: 768px) {

        .intro-section p,
        .intro-dish .text p {
            padding-left: 20px;
            padding-right: 20px;
        }

        .dish {
            flex-direction: column;
            align-items: center;

        }

        .intro-dish .dish {
            flex-direction: column;
            align-items: center;
            gap: 100px;
        }


    }